body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%; background-color:  #fcfbc4; 
}

#SkipMain{
    position:relative;
    left: 200%;
} 
#SkipMain:focus{
     position:relative;
    left: 0%;
}

nav {align-self: center; 
    justify-content:space-between;
    display: block; 
    width: 95%;
    background-color:darkred; 
    position: relative;  left: 2%;   
}    

nav a {text-decoration: none;   
    color: azure;   
}

nav ul {
    vertical-align: middle;
    display: inline-block;
    width: 80%;
   
}
nav li { 
     text-align:center ;
    display: inline-block;
    padding: 2% ;
    width: 27%;
    /*  border-style: solid; */
}

.current {
    border-style: solid;
    border-width: 2px;
    color: azure; 
}

main{
    background-color:khaki ; 
    font-size: 115%; 
}

img{ 
    display: block;
    border-style: groove;
    border-color:darkred;
    padding: 2ch;
    margin:auto;
    background-color:ivory;
    border-radius: 5%;

      
} 

.container{
    list-style-type: none;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content:space-around;
    row-gap:10px;

}

.container article{
    padding: 10px;
    border-style: inset;
    border-color: darkgoldenrod;
    margin: 1ch;
    border-style: ridge;
    border-width: thick;
    background-color: #fcfbc4;
}

.container img{
    width: 80%;
    margin-top: 4ch;
    transition-property:all;
    transition-duration: 1s;
    transition-delay: 0.1s;
    }
   

.container img:hover{
    width: 80%;
    margin-top: 4ch;
    transform: rotateY(180deg) ; 
    position: absolute;
    left:10%;
    top: 60%;
   
} 


 .flex_container{
    list-style-type: none;
    width: 100%;
    display: flex;
     flex-wrap:wrap;
     justify-content:center;
     margin-left: -4ch;
    
 }

.flex_container img{
    width: 25ch;
    padding: 10px;
    margin-top: 10px;

}

.flex_container li{ 
    width: 28ch;
    padding: 10px;
    border-style: outset;
    border-color: darkgoldenrod;
    margin: 1ch;
    background-color: #fcfbc4;
}

.flex_container li:nth-child(even) img{  
    border-radius: 50%;
    margin-top: 5ch;
}

footer {
    background-color:rgb(243, 239, 205); 
    font-size: 80%;
}






h1 {
    color:darkred;
    font-family: cursive;
    text-align: center;
   
}

h2 {margin: 2ch;
    color:darkred;
    font-family: cursive;
}

p { margin: 4ch;
    line-height:  150%;
}


